.NavSideBar {
    display: flex;
    margin-top: 90px;
    margin-left: 20px;
    border: 1px solid #dadada;
    background-color: white;
    min-width: 100px;
    flex-direction: column;
    flex-wrap: wrap;
    height:fit-content;
}
